body {
  width: 1286px;
  margin-left: -23px;
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
header{
  background-color: rgb(238, 237, 225);
  padding-top:2% ;
  border-bottom: rgb(8, 8, 8);
}
a{
  text-decoration: none;
}
.class1 img{
  padding-left: 1%;
  font-size: 1px;
  float: left;
  width: 18%;
} 

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px ;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #b6c7a0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #089620;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.class2 nav {
  background-color:rgb(19, 39, 63);
  height: 60px;
  border-radius: 1px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
a:link, a:visited {
  color: rgb(203, 206, 203);
  display: inline;
}
a:hover, a:active {
  color: rgb(5, 5, 5);
}
.class2 nav ul {
   
 list-style: none;
}
.class2 nav ul li {
  display: inline;
 }
 .class2 nav ul li a:link , .class2 nav ul li a:visited{
  padding: 2% 11%;
   display: inline-block;
   height: 20px;
 }
 .class2 nav ul li a:hover , .class2 nav ul li a:active{
 background-color:  rgb(238, 237, 225);
 height: 60px;
 }

 table, td {
  border: 9px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
.cls {
list-style: none;
}
div#div ,div#div1 ,div#div2  {
  padding: 150px;
  text-align: center;
  font-size: x-large;
}
#pp {
  text-align: center;
  height: 60px;
  width: 1286px;
  padding: 20px;
  background: #666966ab;
}
#op {
  font-size: small;
  margin-left: 45px ;
  margin-top: -9px;
}

.cls  li a:link , .cls  li a:visited{
  color:  rgb(255, 255, 255);
}
.cls li a:hover, .cls li a:active {
  color: rgb(230, 230, 230);}

#div:hover {
  background: #0000009d;
  
}
.td1 {
  background-image: url(faut-il-separer-les-plantes-dinterieur-quand-et-comment-mettre-en-quarantaine-une-plante-dinterieur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 712px 500px;
}

.td2 {
  background-image: url(41cff6d0a3e850572b8307c21e996764.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 592px 405px;
}

#div1:hover {
  background: #0000009d;
}
.td3 {
  background-image: url(c0656e_d5c04a654b764297b5c95c72afbb97f1_mv2_d_2643_2115_s_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1293px 700px;
}

#div2:hover {
  background: #0000009d;
}












